.heading{
    text-align: center;
    background-color: rgb(210,227,234);
    padding: 100px;
}

.button{
   /* background-color: #5F6368;
    color:white;
    margin:50px;
    border-radius: 5px;
    padding: 10px 100px; */
    background-color: #5F6368;
    color:white;
    margin:auto;
    border-radius: 5px;
    padding: 10px 100px;
}

.orderHeading{
    text-align: center;
}

.orderSection{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding:50px;
}