img {
    width: 80%;
    height: 50%;
  }
  
.directions{
    color:white;
    background-color: #743282;
    margin:auto;
    display:block;
    width: 200px;
    cursor: pointer;


}

.cancelOrder{
    color:rgb(95, 99, 104);
    background-color: white;
    margin:auto;
    display:block;
    width: 200px;
    cursor: pointer;

}